<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <appSettings>
          <add key="BotPath" value="C:\Users\kfork\OneDrive\Misc\GitHub\Discord-Bot\BotLauncher\BotLauncher\BotLauncher\bin\Debug\net8.0-windows\Scripts\monkamind.py" />
          <add key="PythonPath" value=""/>
     </appSettings>
</configuration>